[Unit]
Description=Voltage Monitoring Server
DefaultDependencies=yes
After=network-online.target
Wants=network-online.target
IgnoreOnIsolate=true

[Service]
User=pi
Group=pi
ExecStart=/home/pi/Code/voltage_monitor/voltage_monitor.py
Restart=on-failure
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target 
